
:root {
  --navbar-height: 80px;
}

.max-w-900{
  max-width: 900px;
  margin: 0 auto;
  display: block;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.title{
 text-align: center;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 32px;
}


.error-text{
  color: red; 
  text-align: center;
}


.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 16px;
}


.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
}

#sidebar a.active {
  color: red;
}