
:root {
  --navbar-height: 80px;
  --principal: #202B38;
  --violet: #6A57A5;
  --terciary: #291C40;
  --fourth: #441C40;
  --fifth: #E24DAF;
  --yellow: #E09F20;
  --creme: #FFEDCB;
  --brown: #8A7356
}

.max-w-900{
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}


/* MOVIE COMPONENT */

.title{
 text-align: center;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 32px;
}


.error-text{
  color: red; 
  text-align: center;
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 16px;
}


.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
}

#sidebar a.active {
  color: red;
}

/* END MOVIE COMPONENT */


/* HOME COMPONENT */

.center-parent{
  display: grid;
  place-items: center;
  min-height: calc(100vh - 200px);
}

.home-title-text{
  font-size: 5rem;
  font-weight: 700;
  color: var(--creme)

}

.home-typewriter-text{
  font-size: 2rem;
  font-weight: 500;
  color: var(--yellow);
}

.home-paragraph-text{
  color: var(--creme);
  font-size: 1.5rem;
  display: flex;
  margin: 10px 0;
}


/* END HOME COMPONENT */


/* NAV COMPONENT */


.nav-text{
  font-weight: 700;
  color: var(--creme)
}


/* END NAV COMPONENT */

