:root {
    --text-color: #1D3153;
    --thin: 100;
    --extra-thin: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
}

.card {
    border: 1px solid green;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.position{
    padding: 40px;
    margin: auto;
    width: 400px;
}

.text-color{
    color: var(--text-color);
}

.type-account{
    font-size: 14px;
    font-weight: var(--medium);
}

.sign-in-button{
    font-size: 12px;
    font-weight: var(--semi-bold);
}

.username{
    font-size: 18px;
    font-weight: var(--bold);
}

.header-text-password{
    font-size: 14px;
    font-weight: var(--medium);
}

.button-continue{
    background-color: var(--text-color);
    font-size: 12px;
    width: fit-content;
    
}

.space-between{
    justify-content: space-between;
}

.card-title{
    font-size: 23px;
    font-weight: var(--bold); 
}

.card-image{
    border-radius: 150px;
    height: 78px;
}

.input-password{
    background-color: #FFFFFF;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    width: 95%;
}

.icon-input {
    padding: 10px;
    font-size: 16px;
    background-image: url(src/images/lock.svg);
    background-repeat: no-repeat;
    background-position: left 10px center; /* Adjust position as needed */
    padding-left: 40px; /* Make room for the icon */
}

.card-horizontal{
    display: flex;
    flex-direction: row;
}

.card-vertical {
    display: flex;
    height: 75px;
    flex-direction: column;
    justify-content: center; 
}

.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

.mt-10{
    margin-top: 10px;
}
.m-10{
    margin: 10px;
}

.mr-10{
    margin-right: 10px;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-top {
    vertical-align: top;
}

.vertical-bottom {
    vertical-align: bottom;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}


.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch-label {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  border: 1px solid var(--text-color);
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:checked + .slider:before {
  transform: translateX(16px);
}
